body {
    background: var(--accent-color);
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    
    @include breakpoint(up, tablet-landscape) {
        padding: 0 2rem;
        max-width: 65vw;
    }
}

.categories {
    display: flex;

    .category {
        font-size: 0.775rem;
        text-transform: uppercase;
        border-radius: 2px;
        letter-spacing: 0.5px;

        &:not(:last-of-type) {
            margin-right: 0.5rem;
        }
    }
}