@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

@font-face {
    font-family: 'KonstantGrotesk';
    src: url('/fonts/KonstantGroteskBook.woff2') format('woff2'),
        url('/fonts/KonstantGroteskBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-family: var(--sans-font);
    // font-size: 1.15rem;
}

p {
    line-height: 1.75;

    &:first-of-type {
        margin-top: 0;
    }
}

#{headings(1,6)} {
    font-family: var(--accent-font);
    font-weight: normal;
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
}